In [4]:
import numpy as np
import pandas as pd
import csv
df = pd.read_csv('Movie_Analysis_Project_data1.csv')

In [8]:
df

,movie_id,title,release_date,genre_ids,popularity,vote_avg,vote_count,genre_id,genre,Rank,Name,Total_Rev,Domestic_Rev,Foreign_Rev,Foreign_Percent,Domestic_Percent
0,299536,Avengers: Infinity War,2018-04-27,28,84.844,8.3,15989,28,Action,1,Avengers: Infinity War,2048359754,678815482,1369544272,33.1,66.9
1,284054,Black Panther,2018-02-16,28,43.492,7.4,13751,28,Action,2,Black Panther,1346913161,700059566,646853595,52.0,48.0
2,351286,Jurassic World: Fallen Kingdom,2018-06-22,28,30.743,6.5,6636,28,Action,3,Jurassic World: Fallen Kingdom,1308467944,417719760,890748184,31.9,68.1
3,260513,Incredibles 2,2018-06-15,28,27.087,7.5,7299,28,Action,4,Incredibles 2,1242805359,608581744,634223615,49.0,51.0
4,297802,Aquaman,2018-12-21,28,31.629,6.8,7462,28,Action,5,Aquaman,1148161807,335061807,813100000,29.2,70.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,617221,Touch Me Not,2018-08-03,10749,0.600,0.0,0,10749,Romance,655,Touch Me Not,75507,13782,61725,18.3,81.7
485,557660,Making The Five Heartbeats,2018-08-27,99,0.687,0.0,0,99,Documentary,668,Making the Five Heartbeats,67415,67415,0,100.0,0.0
486,589665,Out on Stage,2018-07-24,0,0.600,0.0,0,0,NaN,798,Out on Stage,15623,15623,0,100.0,0.0
487,557179,The Lost Village,2018-10-19,99,1.217,0.0,0,99,Documentary,888,The Lost Village,1780,1780,0,100.0,0.0
488,557182,TVTV: Video Revolutionaries,2018-10-19,99,0.600,0.0,0,99,Documentary,897,TVTV: Video Revolutionaries,812,812,0,100.0,0.0

In [9]:
df.set_index('movie_id')

,title,release_date,genre_ids,popularity,vote_avg,vote_count,genre_id,genre,Rank,Name,Total_Rev,Domestic_Rev,Foreign_Rev,Foreign_Percent,Domestic_Percent
movie_id,,,,,,,,,,,,,,,
299536,Avengers: Infinity War,2018-04-27,28,84.844,8.3,15989,28,Action,1,Avengers: Infinity War,2048359754,678815482,1369544272,33.1,66.9
284054,Black Panther,2018-02-16,28,43.492,7.4,13751,28,Action,2,Black Panther,1346913161,700059566,646853595,52.0,48.0
351286,Jurassic World: Fallen Kingdom,2018-06-22,28,30.743,6.5,6636,28,Action,3,Jurassic World: Fallen Kingdom,1308467944,417719760,890748184,31.9,68.1
260513,Incredibles 2,2018-06-15,28,27.087,7.5,7299,28,Action,4,Incredibles 2,1242805359,608581744,634223615,49.0,51.0
297802,Aquaman,2018-12-21,28,31.629,6.8,7462,28,Action,5,Aquaman,1148161807,335061807,813100000,29.2,70.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617221,Touch Me Not,2018-08-03,10749,0.600,0.0,0,10749,Romance,655,Touch Me Not,75507,13782,61725,18.3,81.7
557660,Making The Five Heartbeats,2018-08-27,99,0.687,0.0,0,99,Documentary,668,Making the Five Heartbeats,67415,67415,0,100.0,0.0
589665,Out on Stage,2018-07-24,0,0.600,0.0,0,0,NaN,798,Out on Stage,15623,15623,0,100.0,0.0
557179,The Lost Village,2018-10-19,99,1.217,0.0,0,99,Documentary,888,The Lost Village,1780,1780,0,100.0,0.0
557182,TVTV: Video Revolutionaries,2018-10-19,99,0.600,0.0,0,99,Documentary,897,TVTV: Video Revolutionaries,812,812,0,100.0,0.0